services:
  migrate:
    build:
      context: .
      dockerfile: Dockerfile.migrate
    environment:
      DATABASE_URL: ${DATABASE_URL}
    env_file:
      - .env
    networks:
      - orcta_net

  app:
    build:
      context: .
      dockerfile: Dockerfile
      # target: prod
    container_name: orcta-backend-pss
    ports:
      - "9999:9999"
    environment:
      NODE_ENV: production
      DATABASE_URL: ${DATABASE_URL}
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - ./logs:/app/logs
    networks:
      - orcta_net

networks:
  orcta_net:
    external: true
